.navbar {
    background-color: #343a40;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  
    .navbar-brand {
      color: #f8f9fa;
      font-size: 24px;
      font-weight: bold;
      text-transform: uppercase;
      transition: color 0.3s ease;
  
      &:hover {
        color: #007bff;
      }
    }
  
    .nav-link {
      color: #f8f9fa;
      font-size: 18px;
      margin-right: 20px;
      transition: color 0.3s ease;
  
      &:hover,
      &.active {
        color: #007bff;
      }
    }
  
    .navbar-toggler {
      border-color: #f8f9fa;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%28255,255,255,.5%29' stroke-width='2' linecap='round' linejoin='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
      }
    }
  
    .navbar-collapse {
      justify-content: flex-end;
    }
  }
  
  img{
    width: 60px;
    height: 60px;
    border-radius: 50px;
  }