.navbar {
    background-color: #E6FDFF; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #697683; 
  }
  
  .navbar-nav {
    margin: 0 auto; /* Center the nav items */
  }
  
  .navbar-nav .nav-item {
    margin: 0 15px; /* Add spacing between the items */
  }
  
  .navbar-nav .nav-link {
    font-size: 1.1rem;
    color: #697683; 
  }
  
  .navbar-nav .nav-link.active {
    color: #697683; 
    font-weight: bold;
  }
  
  .navbar-nav .nav-link:hover {
    color: #0056b3; 
  }
  
  .navbar-nav .dropdown-menu {
    background-color: #ffffff;
    border: 1px solid #dee2e6; 
  }
  
  .navbar-nav .dropdown-item:hover {
    background-color: #f8f9fa; 
  }
  
  .navbar-toggler {
    border: none;
    outline: none;
   border-color: #6c757d;
  }
  
  
  .form-control {
    border: 1px solid #ced4da; 
  }
  
  .btn-outline-success {
    color: #0056b3; 
    border-color: #0056b3;
  }
  
  .btn-outline-success:hover {
    background-color: #0056b3;
    color: #ffffff;
  }
  
  .navbar-nav .nav-link.disabled {
    color: #6c757d; 
    cursor: not-allowed;
  }
  

  @media (max-width: 576px) {
    .navbar-nav .nav-item {
      width: 100%;
    }
  
    .navbar-nav .dropdown-menu {
      width: 100%;
      text-align: center;
    }
  
    .navbar-nav .dropdown-menu .dropdown-item {
      width: 100%;
    }
  }
  
  /* Optional: Make the navbar expand vertically on mobile for better visibility */
  @media (max-width: 576px) {
    .navbar-nav {
      flex-direction: column;
    }
  }