
<nav class="navbar sticky-top  navbar-expand-lg navbar-dark bg-dark py-3">
    <div class="container-fluid">
        <img 
src="../../assets/IMG_4182.JPG" 
alt="Description of Image" 
class="styled-image"/>
      <a class="navbar-brand fw-bold" href="#">Kgotatso</a>
  
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
  

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

            <li class="nav-item">
                <a class="nav-link" href="#scrollspyhome">{{ navigation_profile[0] }}</a>
              </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyabout">{{ navigation_profile[1] }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyskills">{{ navigation_profile[2] }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyprojects">{{ navigation_profile[3] }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspycontact">{{ navigation_profile[4] }}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  