<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
   
    <!-- Home Section  -->
         <div class="home">
        <h4 id="scrollspyHome"></h4>
        <div class="d-flex flex-column flex-md-row  align-items-center p-5 justify-content-between">
            <div>
                <h1 class="header"></h1>
                <h1 class="slide-bck-left   pb-3" >Hi, I'm Kgotatso</h1>
                <p class="p slide-bck-left text-center ">I'm a software developer who builds and improves software that makes our lives easier. I turn ideas into working apps or programs and solve problems through coding.</p>

              
                

                <div class="bu  d-flex gap-2 text center ">
                   
                    <a href="assets/Kgotatso _Resume_731.pdf">
                        <button type="button" class="btn btn-primary bounce-top ">Download Cv</button>
                    </a>
                </div>

         
                
            </div>
            <img src="../../assets/WhatsApp_Image_2024-09-09_at_09.47.34-removebg-preview.png" style=" border-radius: 50%; " alt="Your image">

        </div>



        
        <div class="social  pt-5 ">
            <a href="https://github.com/dubekgotatso"><i class="fa-brands slide-top fa-github fa-2xl" style="color: #edeff3;"></i></a>
            <a href="https://www.linkedin.com/in/kgotatso-surprise-a5aaa9260/">

                <i class="fa-brands slide-top fa-linkedin fa-2xl" style="color: #74C0FC;"></i></a>
            <a href="https://discord.com/channels/@me">

                <i class="fa-brands slide-top fa-discord fa-2xl" style="color: #B197FC;"></i></a>
       
        </div>
        
    </div>

  
</div>


<!-- Skills Section with Individual Cards -->

<div class="About">
    <div class="text-center  slide-bck-left justify-content-end">
        <h4 id="scrollspyAbout">About <span>Me</span></h4>
        <p>Hi, I'm Kgotatso Surprise Dube... I'm from Meadowlands Zone 5. I'm a software developer with experience of using Angular, CSS, HTML, JavaScript, and Python. I chose this career because I love solving problems, both technically and in life generally.</p>
       
        <div class="skills-container">
            <div class="skill-card">
                <img src="assets/icons8-html-144-removebg-preview.png" class="img-fluid" alt="HTML icon" style="width: 50px;">
                <h5>HTML</h5>
            </div>
            <div class="skill-card">
                <img src="assets/icons8-css-144-removebg-preview.png" class="img-fluid" alt="CSS icon" style="width: 50px;">
                <h5>CSS</h5>
            </div>
            <div class="skill-card">
                <img src="assets/icons8-python-256-removebg-preview.png" class="img-fluid" alt="Python icon" style="width: 50px;">
                <h5>Python</h5>
            </div>
            <div class="skill-card">
                <img src="assets/icons8-javascript-150-removebg-preview.png" class="img-fluid" alt="JavaScript icon" style="width: 50px;">
                <h5>JavaScript</h5>
            </div>
            <div class="skill-card">
                <img src="assets/icons8-angular-144-removebg-preview.png" class="img-fluid" alt="Angular icon" style="width: 50px;">
                <h5>Angular</h5>
            </div>
        </div>
    </div>  
</div>



 

<!-- Projects Section -->
<div class="Projects">
    <div class="texti">
        <h4 id="scrollspyProjects">Projects</h4>
        <p>Your projects details go here.</p>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="card" style="width: 360px;">
                    <img src="assets/vecteezy_image-of-shaving-tools-brush-foam-shaver-towel_3492708.JPG" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Fade & Flourish</h5>
                        <p class="card-1">For this project, I used HTML, CSS, and Python. The challenge was implementing MVC to modularize the code and make it maintainable.</p>
                        <div class="divbut d-flex gap-2">
                            <a href="https://fade-and-flourish.onrender.com">
                                <button type="button" class="btn btn-secondary">View Live</button>
                            </a>
                            <a href="https://github.com/dubekgotatso/SignUp-Page/tree/test">
                                <button type="button" class="btn btn-primary">View Project</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card" style="width: 360px;">
                    <img src="assets/Free Photo _ Creative flat lay photo of workspace desk.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Admin Salon</h5>
                        <p class="card-2">In the Salon Admin app, we worked as a group. My task was creating HTML templates for finances and hairstyles and also making the functions.</p>
                        <div class="divbut d-flex gap-2">
                            <a href="https://your-live-project-link.com">
                                <button type="button" class="btn btn-secondary">View Live</button>
                            </a>
                            <a href="https://github.com/The-DigitalAcademy/Admin_Salon_PWD/tree/Kgothatso">
                                <button type="button" class="btn btn-primary">View Project</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-auto">
                <div class="card" style="width: 360px;">
                    <img src="assets/Premium Photo _ Desktop source code and Wallpaper by Computer language with coding and programming_.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Password Generator</h5>
                        <p class="card-3">We worked as a group on this project. My part was creating the HTML for the calculator and doing a bit of JavaScript as well.</p>
                        <div class="divbut d-flex gap-2">
                            <a href="https://your-live-project-link.com">
                                <button type="button" class="btn btn-secondary">View Live</button>
                            </a>
                            <a href="https://github.com/dubekgotatso/password_generator">
                                <button type="button" class="btn btn-primary">View Project</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div id="contact" class="contact">
    <h4 id="scrollspyContacts"></h4>
  
    <div class="contact-container">
      <div class="contact-info">
        <h2>Get in Touch</h2>
        <p>If you'd like to discuss a project or just want to say hello, feel free to reach out.</p>
  
        <div class="info-item">
          <i class="fas fa-map-marker-alt"></i>
          <span>Johannesburg Soweto, South Africa</span>
        </div>
  
        <div class="info-item">
          <i class="fas fa-phone"></i>
          <span><a href="tel:+27837719473">+27 835592965</a></span>
        </div>
  
        <div class="info-item">
          <i class="fas fa-envelope"></i>
          <p>Contact me at <a href="mailto:kgotatsosurprise303@gmail.com">kgotatsosurprise303.com</a>.</p>
        </div>
      </div>
  
      <div class="contact-form-container">
        <h2>Contact Me</h2>
        <form class="contact-form" action="your-form-handler-url" method="POST">
          <div class="form-group">
            <input type="text" id="name" name="name" placeholder="Your Name" required>
          </div>
          <div class="form-group">
            <input type="text" id="subject" name="subject" placeholder="Subject" required>
          </div>
          <div class="form-group">
            <textarea id="message" name="message" rows="5" placeholder="Your Message" required></textarea>
          </div>
          <button type="submit" class="btn">Send Message</button>
        </form>
      </div>
    </div>
</div>




